
@import url(https://fonts.googleapis.com/css?family=Work+Sans:400,600);

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom:300px;
  background-color:#ffffff;

  font-family: 'Work Sans', sans-serif;
  font-size:18px;
  line-height:18px;
  font-weight: 400;
}

h1{
  font-size:24px;
  font-weight:600;
}

.videoPlayerContainer
{
  margin-top:51px;
  margin-bottom:40px;
  background-color:black;
}


.videoList{
  margin-bottom:20px;
}

.videoList h1
{
  padding-bottom:20px;
  margin-bottom:20px;
  font-size:22px;
}

.videoBox
{
  height:350px;
  margin:0px;
  overflow: hidden;
  text-align: center;

  -webkit-box-shadow: 0px 8px 16px -8px rgba(50, 50, 50, 0.35);
  -moz-box-shadow:    0px 8px 16px -8px rgba(50, 50, 50, 0.35);
  box-shadow:         0px 8px 16px -8px rgba(50, 50, 50, 0.35);
  
  -webkit-transition: all .3s ease 10ms;
  -moz-transition: all .3s ease 10ms;
  -o-transition: all .3s ease 10ms;
  transition: all .3s ease 10ms;
}

.videoBox:hover
{
  cursor:pointer;

  -webkit-box-shadow: 0px 8px 16px -12px rgba(50, 50, 50, 0.35);
  -moz-box-shadow:    0px 8px 16px -12px rgba(50, 50, 50, 0.35);
  box-shadow:         0px 8px 16px -12px rgba(50, 50, 50, 0.35);
}

.videoBox img:hover
{
  max-width:100%;
}

.row div
{padding-bottom:20px;}

.videoBoxSelected
{
  width:90%;
  height:96%;
  position:absolute;
  top:0;
  left:12;
  background-color:rgba(146,212,0,.75);
  color:#333;
  margin: 0 auto;
}

.videoBoxSelected i
{
  display: inline-block;
  line-height: 350px;
  font-size:16px;
}

.videoBox img
{
  height:auto;
  max-width:103%;

  -webkit-transition: all .3s ease 10ms;
  -moz-transition: all .3s ease 10ms;
  -o-transition: all .3s ease 10ms;
  transition: all .3s ease 10ms;
}

.videoBox h3
{
  font-weight:600;
  font-size:18px;
  padding: 0 10px;
}

.videoBox h4
{
  font-weight:600;
  font-size:14px;
  font-style: italic;
}

.videoBox p
{
  font-size:14px;
  padding:0 30px;
  margin-bottom:20px;
  text-align:justify;
}


.navbar{
  /*opacity:.5;*/
}

/* Sticky footer position and size
-------------------------------------------------- */

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 300px;
  margin-top:100px;
}

/* Taller footer on small screens */
@media (max-width: 34em)
{
    body
    {
      margin-bottom: 500px;
    }

    .footer
    {
      height: 500px;
    }
}

/* Sticky footer style and color
-------------------------------------------------- */
footer
{
  padding-top: 30px;
  background-color: #292c2f;
  color: #bbb;
}

footer a
{
  color: #999;
  text-decoration:none;
}

footer a:hover, footer a:focus
{
  color: #aaa;
  text-decoration:none;
  border-bottom:1px dotted #999;
}